<h1>New Memo</h1>
<%= form_tag("/create") do %>
<div>
  <%= label_tag "form_title","Title:" %>
  <%= text_field :memos, :title,id:"form_title",placeholder:"Title" %>
</div>
<div>
  <%= label_tag "form_body","Body:" %>
  <%= text_field :memos, :body,id:"form_body",placeholder:"Enter Text" %>
</div>
<div>
  <%= submit_tag "Send" %>
<% end %>
</div>
